header {
    width: auto;
    height: 100px;
    background-color: rgb(97, 152, 233);
    background-image: url(../img/pattern.png);
    position: relative;
}

h1 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0;
}

main {
    font-size: 20px;
}

a {
    text-decoration: none;
}

h2 {
    color: white;
    margin-top: 10px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead {
    background-color: rgb(0, 183, 255);
}

ul {
    padding: 0;
    margin-left: 20px;
    margin-bottom: 40px;
}

footer {
    margin-top: 30px;
}

.size{
    width: 25%;
}

.header-name {
    color: white;
}

.subtext {
    font-size: 20px;
    color: gray;
}

.photo{
    margin-top: 20px;
}

.name-photo {
    font-size: 15px;
}

.background-yellow {
    background-color: yellow;
}

.interesting {
    width: 240px;
    height: 180px; 
}

.lightblue {
    background-color: rgb(171, 241, 232);
}

#logo {
    width: 200px;
    height: 80px;
    position: absolute;
    bottom: 0;
}

#first-recommendation {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}

#second-recommendation {
    background-image: url(../img/graph.jpg);
    background-size: cover;
}

#header-first {
    font-size: 20px;
}

#header-second {
    font-size: 45px;
}

#date {
    font-size: 15px;
}
