header {
    width: auto;
    height: 100px;
    background-color: rgb(97, 152, 233);
    background-image: url(../img/pattern.png);
}


h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
}

h2 {
    color: white;
}

.header-name {
    color: white;
}

.subtext {
    font-size: 20px;
    color: gray;
}

.name-photo {
    font-size: 15px;
}

.background-yellow {
    background-color: yellow;
}

.interesting {
    width: 240px;
    height: 180px; 
}

#first-recommendation {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}

#second-recommendation {
    background-image: url(../img/graph.jpg);
    background-size: cover;
}

#header-first {
    font-size: 20px;
}

#header-second {
    font-size: 45px;
}

#date {
    font-size: 15px;
}